<header> </header>
<main class="page-container">

    <div class="robo-image"></div>

    <div class="login-container" [formGroup]="LoginForm">

        <img src="imgs/Chat (1).png" alt="Logo senai-GPT">
        <h1 class="titulo">Login</h1>

        <input class="inp" type="email" placeholder="Insira o email" formControlName="email" (keydown.enter)="onLoginClick()">
        <span class="error-massege">{{emailErrorMensage}}</span>


         <input class="inp" type="password" placeholder="Insira a senha" formControlName="password" (keydown.enter)="onLoginClick()">
         
         <span class="error-password">{{passwordErrorMessege}}</span>

        <button class="button" (click)="onLoginClick()">Entrar</button>
        <span class="all-correct">{{congratulations}}</span>
        <span class="incrrect">{{incorrect}}</span>
        
    </div>

</main>
<footer class="base"></footer>