
<main class="page-container">

    <div class="robo-image"></div>

    <div class="login-container">

        <img src="imgs/Chat (1).png" alt="Logo senai-GPT">
        <h1 class="titulo">Cadastro</h1>

        <input class="inp" type="text" placeholder="Insira o Nome do usuario" >

        <input class="inp" type="email" placeholder="Insira o email" >

        <input class="inp" type="password" placeholder="Insira a senha" >

        <input class="inp" type="password" placeholder="Confirme  a senha" >

        <button class="button">Entrar</button>
        <a href="">Clique aqui para fazer o login</a>

    </div>

</main>
<footer class="base"></footer>