<div class="container">

    <aside class="left-side">

        <div class="top1" >

         <div class="top2">
            <div class="button"><input type="button" value=" + New chat"></div>

            <div class="upp"><i class="fa-regular fa-message"></i><input  type="button" value="AI Chat Tool Ethics"></div>

            <div class="upp"> <i class="fa-regular fa-message"></i> <input type="button"  value="Al Chat Tool Impact Writing"></div>

            <div class="upp"> <i class="fa-regular fa-message"></i><input  type="button" value="New chat "></div>  
            
        </div>

         </div>

        <div class="baixo">

            <div class="dawB"> <i class="fa-regular fa-trash-can"></i> <input  type="button" value="Clear conversations"></div>


              <div class="dawB"> <i class="fa-regular fa-lightbulb"></i> <input type="button" value="Light mode"></div>

            
            <div class="dawB"><i class="fa-regular fa-user"></i> <input  type="button" value="My  account"></div>


            <div class="dawB"><i class="fa-regular fa-share-from-square"></i> <input  type="button" value="Updates & FAQ"></div>


            <div class="dawB"><i class="fa-solid fa-arrow-right-from-bracket"> </i><input  type="button" value="Log out"></div>

        </div>

    </aside>

    <main class="central-panel">

         <div class="logo"><img src="imgs/Chat (1).png" alt="logo"></div>


        <div class="tree"> 

             <div class="tree-caixa"> 

                <h1 class="titulo"> <i class="fa-solid fa-comments"></i>Exemples</h1>
              <div class="caixa-in"><h2>"Explain quantum computing insimple terms"</h2></div>
              <div class="caixa-in"><h2>"Got any creative ideas for a 10year old's birthday?"</h2></div>
              <div class="caixa-in"><h2>"How do I make an HTTP requestin Javascript?"</h2></div> 
            
             </div>



             <div class="tree-caixa"> <h1 class="titulo"><i class="fa-regular fa-snowflake"></i> Capabilities</h1>

              <div class="caixa-in"><h2>Remembers what user saidearlier in the conversation.</h2></div>
              <div class="caixa-in"><h2>Allows user to provide follow-up corrections.</h2></div>
              <div class="caixa-in"><h2>Trained to decline inappropriate requests.</h2></div> 

             </div>

            
             <div class="tree-caixa"> <h1 class="titulo"> <i class="fa-solid fa-shield"></i>Limitations</h1>

              <div class="caixa-in"><h2>May occasionally generate incorrect information.</h2></div>
              <div class="caixa-in"><h2>May occasionally produce harmful instructions or biased content.</h2></div>
              <div class="caixa-in"><h2>Limited knowledge of world andevents after 2021.</h2></div> 

             </div>

        </div>
        
    <div class="rodape">

        <div class="rod1">
            <i class="fa-solid fa-microphone"></i>
                <i class="fa-regular fa-image"></i>
            
            <input class="escreva" type="text"  placeholder=" escreva aqui"><i class="fa-solid fa-paper-plane"></i>
</div>

         </div>
    </main>
    
</div>
